*{
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}
.header{
    background-color: #363AA4;
    color: white;
    padding: 17px
}
.header nav h1{
    margin-left: 50px;
    font-size: 35px;
}

.header nav ul{
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
}

#menu-nav{
    display: flex;
    justify-content: space-between;
}

#menu-nav ul li:hover{
  color: green
}

.banner {
    height: 90vh;
    background: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.banner {
    height: 90vh;
    background: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
  
.titulo {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
  
.botoes {
    margin-top: 30px;
}
  
button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}
  
.button-saiba,
.button-inscrever {
    color: black;
    border: 2px solid white;
  }
  
.button-saiba:hover,
.button-inscrever:hover {
    color: white;
    background-color: green;
}
